.side_nav {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 100vh;
    padding: 0.5rem 2rem;
    color: white;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins' sans-serif;
    overflow: hidden;
}

.side_nav:hover {
    width: 240px;
    transition: 0.5s;
}

.side_nav a {
    padding: 0.5rem;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
}


.side_nav a:hover {
    background: #fdaea4;
    color: black;
}