@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  /* typography */
  p {
    @apply text-secondary-700 dark:text-secondary-400;
    @apply text-base lg:text-lg font-normal;
  }

  h1 {
    @apply text-secondary-900 dark:text-secondary-100;
    @apply text-2xl md:text-3xl lg:text-4xl font-bold md:font-extrabold lg:font-extrabold;
  }

  h2 {
    @apply text-secondary-900 dark:text-secondary-100;
    @apply text-2xl md:text-3xl lg:text-4xl font-bold;
  }

  h3 {
    @apply text-secondary-900 dark:text-secondary-100;
    @apply text-xl md:text-2xl lg:text-3xl font-bold;
  }

  h4 {
    @apply text-secondary-900 dark:text-secondary-100;
    @apply text-xl md:text-xl lg:text-2xl font-bold;
  }

  h5 {
    @apply text-secondary-900 dark:text-secondary-100;
    @apply text-lg md:text-lg lg:text-xl font-bold;
  }

  h6 {
    @apply text-secondary-900 dark:text-secondary-100;
    @apply text-base md:text-base lg:text-lg font-bold;
  }

  /* input */
  input {
    @apply bg-secondary-50 border border-secondary-300 text-secondary-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-secondary-700 dark:border-secondary-800 dark:placeholder-secondary-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
  }

  /* textarea */
  textarea {
    @apply bg-secondary-50 border border-secondary-300 text-secondary-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-secondary-700 dark:border-secondary-800 dark:placeholder-secondary-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
  }

  /* label */
  label {
    @apply block mb-2 text-sm font-medium text-secondary-900 dark:text-white;
  }
}
